.body{
  display: flex;
  
  background-image: url('../../Assetes/health.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
  
}
.box{
  position:relative;
  max-width: 600px;
  padding: 50px;
  background: rgba(255,255,255,.2);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  border-radius: 1rem;
  margin-top: 10rem;
  margin-left: 30rem;
  margin-bottom: 5rem;
}
.links{
  font-size: 3rem;
  color: var(--appcolour);
  font-family: 'gumela';
  display: flex;
  gap: 2rem;
  
  
}
.links:hover{
 cursor: pointer;
 color: var(--orange);
}

